<mat-toolbar color="primary">
        <mat-toolbar-row>
          <!--  <span>HOME</span> -->
           <span><a href="/">HOME</a></span>
           <span class="spacer"></span>
           <a><button mat-button (click)="logout()">Logout</button></a>
        </mat-toolbar-row>
      </mat-toolbar>
      <router-outlet></router-outlet>