<mat-toolbar color="primary">
        <mat-toolbar-row>
          <!--  <span>HOME</span> -->
           <span><a href="/">HOME</a></span>
           <span class="spacer"></span>
           <a mat-button routerLink="/register">Register</a>
           <a mat-button routerLink="">Login</a>
        </mat-toolbar-row>
      </mat-toolbar>
    <router-outlet></router-outlet>
    