  
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Register</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" #f="ngForm" (ngSubmit)="register()">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput name="email" type="email" placeholder="Email" [(ngModel)]="data.email" #em="ngModel">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput name="pass" type="password" placeholder="Password" [(ngModel)]="data.password" #pass="ngModel">

            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput name="cpass" type="password" placeholder="Confirm Password" [(ngModel)]="data.cpassword"
                #cpass="ngModel">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <div *ngIf="data.password!=data.cpassword">
            <p>
              Passwords don't match
            </p>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput type="name" name="name" placeholder="Name" [(ngModel)]="data.name" #pass="ngModel">
            </mat-form-field>
          </td>
        </tr>
      </table>
      <button mat-raised-button type="submit" [disabled]="data.password!=data.cpassword || data.password==null || data.name==null || data.email==null">Register</button>
    </form>
    <div *ngIf="submitted">
      <p>
        Registered Successfully
      </p>
    </div>
    <div *ngIf="registered">
        <p>
          Already Registered
        </p>
      </div>
  </mat-card-content>

</mat-card>