
  .example-card {
    width: 500px;
    margin: 10% auto;
    }
    .example-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
      }
      .example-full-width {
        width: 100%;
      } 